## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

2023-12-12 18:07:06.497648: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

In [3]:
# Copy the original df 
application_copy_df =  application_df.copy()

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_copy_df = application_copy_df.drop(columns=['EIN', 'NAME'])
application_copy_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [5]:
# Determine the number of unique values in each column.
application_copy_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
application_copy_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cut_off = 200 
application_types_to_replace = application_copy_df['APPLICATION_TYPE'].value_counts()\
                                [application_copy_df['APPLICATION_TYPE'].value_counts() < cut_off]\
                                .index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_copy_df['APPLICATION_TYPE'] = application_copy_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_copy_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [8]:
# Check the items in Other
application_copy_df['APPLICATION_TYPE'].value_counts()\
                                [application_copy_df['APPLICATION_TYPE'].value_counts() < cut_off]

Series([], Name: count, dtype: int64)

In [9]:
# (Alternative solution) Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cut_off = 200
application_types_to_replace = ['T9','T13','T12','T2','T25','T14','T29','T15','T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_copy_df['APPLICATION_TYPE'] = application_copy_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_copy_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning
application_copy_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C6100        1
C1820        1
C1900        1
C2150        1
Name: count, Length: 71, dtype: int64

In [11]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
cut_off = 800
classifications_to_replace = application_copy_df['CLASSIFICATION'].value_counts()\
                                [application_copy_df['CLASSIFICATION'].value_counts() < cut_off]\
                                .index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_copy_df['CLASSIFICATION'] = application_copy_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_copy_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [13]:
# Return all the object columns
application_copy_df.dtypes[application_copy_df.dtypes == "object"]

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
dtype: object

In [14]:
# Generate categorical variable list
application_cat = application_copy_df.dtypes[application_copy_df.dtypes == "object"].index.tolist()
application_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [15]:
# Check unique values in the application_cat list
application_copy_df[application_cat].nunique()

APPLICATION_TYPE          9
AFFILIATION               6
CLASSIFICATION            6
USE_CASE                  5
ORGANIZATION              4
INCOME_AMT                9
SPECIAL_CONSIDERATIONS    2
dtype: int64

In [16]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False) 

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_copy_df[application_cat])) 

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(application_cat) 
encode_df.head()

/Users/rachelmmm/anaconda3/envs/PythonData/lib/python3.11/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [17]:
application_copy_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [22]:
# Merge one-hot encoded features and drop the originals
application_encoded_df = application_copy_df.merge(encode_df,left_index=True, right_index=True)
application_encoded_df = application_encoded_df.drop(application_cat, axis=1)
application_encoded_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [23]:
# Check all columns of the encoded dataframe
application_encoded_df.columns

Index(['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_Other',
       'APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3',
       'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6',
       'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8',
       'AFFILIATION_CompanySponsored', 'AFFILIATION_Family/Parent',
       'AFFILIATION_Independent', 'AFFILIATION_National', 'AFFILIATION_Other',
       'AFFILIATION_Regional', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200',
       'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000',
       'CLASSIFICATION_Other', 'USE_CASE_CommunityServ', 'USE_CASE_Heathcare',
       'USE_CASE_Other', 'USE_CASE_Preservation', 'USE_CASE_ProductDev',
       'ORGANIZATION_Association', 'ORGANIZATION_Co-operative',
       'ORGANIZATION_Corporation', 'ORGANIZATION_Trust', 'INCOME_AMT_0',
       'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999',
       'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M',
       'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object')

In [24]:
# Split our preprocessed data into our features and target arrays
y = application_encoded_df['IS_SUCCESSFUL'].values
X = application_encoded_df.drop('IS_SUCCESSFUL', axis = 1).values

In [25]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [26]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [35]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0]) # number of columns
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 8

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 352

 dense_4 (Dense)             (None, 8)                 72

 dense_5 (Dense)             (None, 1)                 9

=================================================================
Total params: 433 (1.69 KB)
Trainable params: 433 (1.69 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [36]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [37]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.6008 - accuracy: 0.6999
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5647 - accuracy: 0.7255
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5593 - accuracy: 0.7286
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5569 - accuracy: 0.7295
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5552 - accuracy: 0.7307
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5539 - accuracy: 0.7315
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5531 - accuracy: 0.7316
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5525 - accuracy: 0.7321
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5520 - accuracy: 0.7321
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5515 - accuracy: 0.7322
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5516 - accuracy: 0.7324
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5511 - accuracy: 0.7323
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5511 - accuracy: 0.7324
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5508 - accuracy: 0.7324
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5503 - accuracy: 0.7325
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5505 - accuracy: 0.7325
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5500 - accuracy: 0.7331
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7324
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7324
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5498 - accuracy: 0.7331
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5493 - accuracy: 0.7332
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7328
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7328
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7334
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5488 - accuracy: 0.7332
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5487 - accuracy: 0.7328
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7330
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5483 - accuracy: 0.7334
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5482 - accuracy: 0.7332
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7333
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5477 - accuracy: 0.7345
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5479 - accuracy: 0.7336
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5478 - accuracy: 0.7338
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7333
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5475 - accuracy: 0.7340
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5475 - accuracy: 0.7345
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7342
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7341
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7336
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7339
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7345
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7340
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7341
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7346
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7343
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5462 - accuracy: 0.7343
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5461 - accuracy: 0.7349
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7344
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7343
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7353
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5464 - accuracy: 0.7341
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7332
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5460 - accuracy: 0.7348
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7341
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5458 - accuracy: 0.7358
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5457 - accuracy: 0.7348
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5457 - accuracy: 0.7349
Epoch 58/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5457 - accuracy: 0.7341
Epoch 59/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5456 - accuracy: 0.7352
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5456 - accuracy: 0.7352
Epoch 61/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5455 - accuracy: 0.7349
Epoch 62/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5455 - accuracy: 0.7351
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7349
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7342
Epoch 65/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5450 - accuracy: 0.7360
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5451 - accuracy: 0.7348
Epoch 67/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5454 - accuracy: 0.7352
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5454 - accuracy: 0.7353
Epoch 69/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5451 - accuracy: 0.7354
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5450 - accuracy: 0.7350
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5451 - accuracy: 0.7350
Epoch 72/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5450 - accuracy: 0.7357
Epoch 73/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5450 - accuracy: 0.7353
Epoch 74/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5451 - accuracy: 0.7350
Epoch 75/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5447 - accuracy: 0.7358
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5448 - accuracy: 0.7354
Epoch 77/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5453 - accuracy: 0.7359
Epoch 78/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5447 - accuracy: 0.7358
Epoch 79/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5450 - accuracy: 0.7362
Epoch 80/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5446 - accuracy: 0.7358
Epoch 81/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5447 - accuracy: 0.7364
Epoch 82/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5446 - accuracy: 0.7357
Epoch 83/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5447 - accuracy: 0.7358
Epoch 84/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5446 - accuracy: 0.7354
Epoch 85/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5444 - accuracy: 0.7354
Epoch 86/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5446 - accuracy: 0.7352
Epoch 87/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5442 - accuracy: 0.7356
Epoch 88/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5443 - accuracy: 0.7353
Epoch 89/100
804/804 [==============================] - 11s 14ms/step - loss: 0.5446 - accuracy: 0.7360
Epoch 90/100
804/804 [==============================] - 10s 12ms/step - loss: 0.5441 - accuracy: 0.7356
Epoch 91/100
804/804 [==============================] - 9s 12ms/step - loss: 0.5443 - accuracy: 0.7367
Epoch 92/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5444 - accuracy: 0.7362
Epoch 93/100
804/804 [==============================] - 13s 16ms/step - loss: 0.5444 - accuracy: 0.7360
Epoch 94/100
804/804 [==============================] - 11s 14ms/step - loss: 0.5443 - accuracy: 0.7364
Epoch 95/100
804/804 [==============================] - 11s 14ms/step - loss: 0.5443 - accuracy: 0.7364
Epoch 96/100
804/804 [==============================] - 13s 17ms/step - loss: 0.5443 - accuracy: 0.7365
Epoch 97/100
804/804 [==============================] - 10s 13ms/step - loss: 0.5442 - accuracy: 0.7357
Epoch 98/100
804/804 [==============================] - 14s 18ms/step - loss: 0.5443 - accuracy: 0.7355
Epoch 99/100
804/804 [==============================] - 14s 17ms/step - loss: 0.5445 - accuracy: 0.7364
Epoch 100/100
804/804 [==============================] - 15s 19ms/step - loss: 0.5440 - accuracy: 0.7364

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE